<ngb-accordion activeIds="static-1" (panelChange)="$event.preventDefault();">
  <ngb-panel id="static-1">

    <ng-template ngbPanelHeader let-opened="opened">
      <div class="d-flex align-items-center justify-content-between">
        <h5 class="m-0">Data Log</h5>
      </div>
    </ng-template>

    <ng-template ngbPanelContent>
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Username</th>
          <th scope="col">Name</th>
          <th scope="col">Time</th>
          <th scope="col">File</th>
          <th scope="col">Result</th>
        </tr>
        <tr>
          <th scope="col"></th>
          <th scope="col">
            <input [(ngModel)] = "listSearch.username" class="form-control" type="text" placeholder="Search" aria-label="Search" (keyup)="performFilter()">
          </th>
          <th scope="col">
            <input [(ngModel)] = "listSearch.name" class="form-control" type="text" placeholder="Search" aria-label="Search" (keyup)="performFilter()">
          </th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor = "let data of getListProject(), let id = index">
          <td>{{getCurrentId(id) + 1}}</td>
          <td>{{data.username}}</td>
          <td>{{data.name}}</td>
          <td>{{data.time}}</td>
          <td>
            <a class="btn" (click)="onDownloadData(data.file.file_id)">
              <mat-icon style = "font-size: 15px">cloud_download</mat-icon>
              {{data.file.file_name}}
            </a>
          </td>
          <td>
            <label class = "btn" (click)="onPopUpResult(modalViewResult, true, getCurrentId(id))">
              <mat-icon style = "font-size: 15px">launch</mat-icon>
            </label>
          </td>
        </tr>
        </tbody>
      </table>

      <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="listFilteredData.length" [(page)]="page" [pageSize]="pageSize" [maxSize]="5" [rotate]="true" [boundaryLinks]="true">
        </ngb-pagination>

        <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
          <option [ngValue]="5">5 items per page</option>
          <option [ngValue]="10">10 items per page</option>
          <option [ngValue]="20">20 items per page</option>
          <option [ngValue]="50">50 items per page</option>
          <option [ngValue]="100">100 items per page</option>
        </select>
      </div>
    </ng-template>

  </ngb-panel>
</ngb-accordion>

<ng-template #modalViewResult let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Result</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <a style = "font-weight: bold">
        Records Created
      </a>
      <a style="margin-left: 0.5em">
        {{popUpData.result.records_created}}
      </a>
    </div>

    <div style = "margin-top: 1em">
      <a style = "font-weight: bold">
        Records Updated
      </a>

      <a style="margin-left: 0.5em">
        {{popUpData.result.records_updated}}
      </a>
    </div>

    <div style = "margin-top: 1em">
      <a style = "font-weight: bold">
        Records Deleted
      </a>
      <a style="margin-left: 0.5em">
        {{popUpData.result.records_deleted}}
      </a>
    </div>

    <table *ngIf="popUpData.result.errors.length !== 0" class="table table-striped" style = "margin-top: 2em">
      <thead>
      <th scope="col">#</th>
      <th scope="col" style = "color: red">
        Error
      </th>
      </thead>
      <tbody>
      <ng-container *ngFor="let error of popUpData.result.errors; let id = index">
        <td>
          {{id + 1}}
        </td>
        <td>
          {{error}}
        </td>
      </ng-container>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Cancel</button>
  </div>
</ng-template>
