<ngb-accordion activeIds="static-1" (panelChange)="$event.preventDefault();">
  <ngb-panel id="static-1">

    <ng-template ngbPanelHeader let-opened="opened">
      <div class="d-flex align-items-center justify-content-between">
        <h5 class="m-0">Manage Users</h5>
      </div>
    </ng-template>

    <ng-template ngbPanelContent>
      <label class="btn-success" (click)="onPopUp(modalAddUser)" ngbButtonLabel>Add User</label>

      <br>

      <div>
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col"></th>
            <th scope="col">Username</th>
            <th scope="col">Full Name</th>
            <th scope="col">Email</th>
            <th scope="col">Roles</th>
          </tr>

          <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">
              <input [(ngModel)] = "listSearch.username" class="form-control" type="text" placeholder="Search" aria-label="Search" (keyup)="performFilter()">
            </th>
            <th scope="col">
              <input [(ngModel)] = "listSearch.name" class="form-control" type="text" placeholder="Search" aria-label="Search" (keyup)="performFilter()">
            </th>
            <th scope="col">
              <input [(ngModel)] = "listSearch.email" class="form-control" type="text" placeholder="Search" aria-label="Search" (keyup)="performFilter()">
            </th>
            <th scope="col">
<!--              <input [(ngModel)] = "listSearch.roles" class="form-control" type="text" placeholder="Search" aria-label="Search" (keyup)="performFilter()">-->
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor = "let data of getListUser(); let id = index">
            <td>
              {{id}}
            </td>
            <td>
              <label style = "margin-top: -0.5em" class="btn" (click)="onPopUpDataUser(modalEditUser, getCurrentId(id))" ngbButtonLabel><mat-icon style="font-size: 15px">edit</mat-icon></label>
              <label style = "margin-top: -0.5em" class="btn" (click)="onPopUpDataUser(modalDelete, getCurrentId(id))" ngbButtonLabel><mat-icon style="font-size: 15px">delete</mat-icon></label>
            </td>
            <td>{{data.username}}</td>
            <td>{{data.name}}</td>
            <td>{{data.email}}</td>
            <td>
              <div *ngIf="data.roles">
                {{utilService.trimJson(data.roles)}}
              </div>
            </td>
          </tr>
          </tbody>
        </table>

        <div class="d-flex justify-content-between p-2">
          <ngb-pagination [collectionSize]="listFilteredUser.length" [(page)]="page" [pageSize]="pageSize" [maxSize]="5" [rotate]="true" [boundaryLinks]="true">
          </ngb-pagination>

          <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
            <option [ngValue]="5">5 items per page</option>
            <option [ngValue]="10">10 items per page</option>
            <option [ngValue]="20">20 items per page</option>
            <option [ngValue]="50">50 items per page</option>
            <option [ngValue]="100">100 items per page</option>
          </select>
        </div>
      </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion>

<ng-template #modalAddUser let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title-add">Add New User</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <label style = "width: 30%; float: left; font-weight: bold">
        Username
        <label style = "color: red">*</label>
      </label>
      <input style = "width: 50%; float: left" type="text" [(ngModel)]="newUser.username">
      <br style = "clear: both">
    </div>

    <div>
      <label style = "width: 30%; float: left; font-weight: bold">
        Full Name
        <label style = "color: red">*</label>
      </label>
      <input style = "width: 50%; float: left" type="text" [(ngModel)]="newUser.name">
      <br style = "clear: both">
    </div>

    <div>
      <label style = "width: 30%; float: left; font-weight: bold">
        Email
        <label style = "color: red">*</label>
      </label>
      <input style = "width: 50%; float: left" type="text" [(ngModel)]="newUser.email">
      <br style = "clear: both">
    </div>

    <div *ngIf="!newUser.default_password">
      <label style = "width: 30%; float: left; font-weight: bold">
        Password
        <label style = "color: red">*</label>
      </label>
      <input style = "width: 50%; float: left" type="password" [(ngModel)]="newUser.password">
      <br style = "clear: both">
    </div>

    <div>
      <label style = "width: 30%; float: left; font-weight: bold">
        Roles
      </label>
      <p style = "width: 50%; float: left">
        <ng-select [items]="listRoles"
                   appendTo="body"
                   bindLabel="name"
                   multiple="true"
                   bindValue="name"
                   [closeOnSelect]="false"
                   [(ngModel)]="newUser.roles">
          <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
            <input type="checkbox" [ngModel]="item$.selected"/> {{item.name}}
          </ng-template>
        </ng-select>
      </p>
      <br style = "clear: both">
    </div>

    <div>
      <label style = "width: 30%; float: left; font-weight: bold">
        Use Default Password
      </label>
      <label style = "width: 50%; float: left">
        <input type="checkbox" [(ngModel)]="newUser.default_password">
      </label>
      <br style = "clear: both">
    </div>
  </div>
  <p>
    <ngb-alert style = "width: 95%; margin: auto" *ngIf="messageContent" type="danger" (close)="messageContent = ''">{{ messageContent }}</ngb-alert>
  </p>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onSaveAddUser()">Confirm</button>
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Cancel</button>
  </div>
</ng-template>

<ng-template #modalEditUser let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title-edit">Edit User</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <label style = "width: 30%; float: left; font-weight: bold">
        Username:
        <label style = "color: red">*</label>
      </label>
      <input style = "width: 50%; float: left" type="text" [(ngModel)]="popUpUser.username">
      <br style = "clear: both">
    </div>

    <div>
      <label style = "width: 30%; float: left; font-weight: bold">
        Full Name:
        <label style = "color: red">*</label>
      </label>
      <input style = "width: 50%; float: left" type="text" [(ngModel)]="popUpUser.name">
      <br style = "clear: both">
    </div>

    <div>
      <label style = "width: 30%; float: left; font-weight: bold">
        Email:
        <label style = "color: red">*</label>
      </label>
      <input style = "width: 50%; float: left" type="email" [(ngModel)]="popUpUser.email">
      <br style = "clear: both">
    </div>

    <div>
      <label style = "width: 30%; float: left; font-weight: bold">
        Roles:
      </label>
      <p style = "width: 50%; float: left">
        <ng-select [items]="listRoles"
                   appendTo="body"
                   bindLabel="name"
                   multiple="true"
                   bindValue="name"
                   [closeOnSelect]="false"
                   [(ngModel)]="popUpUser.roles">
          <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
            <input type="checkbox" [ngModel]="item$.selected"/> {{item.name}}
          </ng-template>
        </ng-select>
      </p>
      <br style = "clear: both">
    </div>
  </div>
  <p>
    <ngb-alert style = "width: 95%; margin: auto" *ngIf="messageContent" type="danger" (close)="messageContent = ''">{{ messageContent }}</ngb-alert>
  </p>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onSaveEdit()">Confirm</button>
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Cancel</button>
  </div>
</ng-template>

<ng-template #modalDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">User deletion</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Are you sure you want to delete user <span class="text-primary">"{{popUpUser.name}}"</span> ?</strong></p>
    <p>All information associated to this user will be permanently deleted.
      <span class="text-danger">This operation can not be undone.</span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="onDelete(popUpId)">Confirm</button>
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Cancel</button>
  </div>
</ng-template>
