<body>
    <div class = "login-box">
      <form (ngSubmit)="onLogin()" [formGroup]="loginForm" ngNativeValidate>
        <div class="container">
            <label id="uname"><b>Username</b></label>
           <input type="text" placeholder="Enter Username" formControlName="username" required>
    
            <label id="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" formControlName="password" required>  
              
            <button type="submit">Login</button>
            <label>
              <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
          </div>
          <div class="container" style="background-color:#c0d1fa">
            <button routerLink="signin" type="button" class="signupbtn">Signup</button>
            <span class="psw">Forgot <a routerLink="forgotpwd" href="#" >password?</a></span>
          </div>
        <p>
          <ngb-alert style = "width: 95%; margin: auto" *ngIf="messageContent" type="danger" (close)="messageContent = ''">{{ messageContent }}</ngb-alert>
      </form>
    </div>
</body>
