<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <div class = "forgotpwd-box">
    <form (ngSubmit)="onForgotPwd()" [formGroup]="forgotPwdForm" ngNativeValidate>
      <div class="container">
        <h1>Forgot Password</h1>
        <p>Please fill in this form to reset password and check your email to get new password.</p>
        <input type="text" placeholder="Your Signnum" formControlName="info_signnum" required>
        <input type="text" placeholder="Enter Email" formControlName="info_email" required>
        <div class="clearfix">
          <button type="submit" [disabled]="!forgotPwdForm.valid" class="btn btn-primary btn-lg">Forgot Password</button>
          <button (click)="onBackLogin()" class="btn btn-danger btn-lg">Back Login</button>
        </div>
      </div>
    </form>
  </div>
</body>