<nav class="navbar navbar-expand-md navbar-dark bg-dark bg-primary fixed-top">
  <a class="navbar-brand" href="#">
    <img src = "../assets/img/logowhite.png" width="20" height="20">
  </a>
  <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
    <ul *ngIf = "isAdmin" class="navbar-nav">
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" type = "button" ngbDropdownToggle>Manage Data</a>
        <div class="dropdown-menu" ngbDropdownMenu>
          <a class="dropdown-item" href="manage-tables">Manage Tables</a>
          <a class="dropdown-item" href="manage-projects">Manage Projects</a>
          <a class="dropdown-item" href="manage-forms">Manage Forms</a>
          <a class="dropdown-item" href="manage-templates">Manage Templates</a>
        </div>
      </li>
    </ul>

    <ul *ngIf = "isAdmin" class="navbar-nav">
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" type = "button" ngbDropdownToggle>User Management</a>
        <div class="dropdown-menu" ngbDropdownMenu>
          <a class="dropdown-item" href="manage-record-groups">Manage Record Groups</a>
          <a class="dropdown-item" href="manage-roles">Manage Roles</a>
          <a class="dropdown-item" href="manage-permissions">Manage Permissions</a>
          <a class="dropdown-item" href="manage-users">Manage Users</a>
        </div>
      </li>
    </ul>

    <ul *ngIf = "isAdmin" class="navbar-nav">
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" type = "button" ngbDropdownToggle>Rules</a>
        <div class="dropdown-menu" ngbDropdownMenu>
          <a class="dropdown-item" href = "manage-rule-groups" type = "button">Manage Rule Groups</a>
          <a class="dropdown-item" href = "manage-rules" type = "button">Manage Rules</a>
        </div>
      </li>
    </ul>

    <ul class="navbar-nav" *ngIf = "cookieService.get('access_token')">
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" type = "button" ngbDropdownToggle>Data</a>
        <div class="dropdown-menu" ngbDropdownMenu>
          <a class="dropdown-item" href = "data" type = "button">Forms</a>
          <a class="dropdown-item" href = "templates" type = "button">Templates</a>
        </div>
      </li>
    </ul>

    <ul class="navbar-nav" *ngIf = "cookieService.get('access_token')">
      <li class="nav-item">
        <a class="nav-link" type = "button" href="log-bulk-upload">Data Log</a>
      </li>
    </ul>

    <ul class="navbar-nav" style="right: 15px; position: absolute" *ngIf = "cookieService.get('access_token')">
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" type = "button" ngbDropdownToggle>{{currentUser.name}}</a>
        <div class="dropdown-menu" ngbDropdownMenu>
          <a class="dropdown-item" type = "button" (click)="onLogout()">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<br><br><br>
