.column-left {
  float: left;
  width: 35%;
  padding: 10px;
}

.column-right {
  float: left;
  width: 65%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

