<ngb-accordion activeIds="static-1" (panelChange)="$event.preventDefault();">
  <ngb-panel id="static-1">

    <ng-template ngbPanelHeader let-opened="opened">
      <div class="d-flex align-items-center justify-content-between">
        <h5 class="m-0">Template</h5>
      </div>
    </ng-template>

    <ng-template ngbPanelContent>
      <div style = "text-align: center">Table:
        <label style = "width: 50%">
          <ng-select [items]="listTable"
                     bindLabel="name"
                     appendTo="body"
                     bindValue="name"
                     (change)="onSelectTable($event)">
          </ng-select>
        </label>
      </div>

      <div *ngIf="selectedTable">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
          <li [ngbNavItem]= "0">
            <a ngbNavLink>Import</a>
            <ng-template ngbNavContent>
              <table class="table table-striped">
                <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Template Name</th>
                  <th scope="col">Table</th>
                  <th scope="col"></th>
                </tr>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">
                    <input style = "width: 150px" [(ngModel)] = "listSearch.name" class="form-control" type="text" placeholder="Search" aria-label="Search" (keyup)="performFilter()">
                  </th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor = "let data of listFilteredImportTemplate, let id = index">
                  <td>
                    {{id + 1}}
                  </td>
                  <td>
                    <label class="btn" (click)="onDownloadTemplate(data)">
                      <mat-icon style = "font-size: 15px">cloud_download</mat-icon>
                      {{data.name}}
                    </label>
                  </td>
                  <td>
                    <div *ngFor="let table of listTable">
                      <div *ngIf="table._id === data.table_id">
                        {{table.name}}
                      </div>
                    </div>
                  </td>
                  <td>
                    <label class="btn-success" (click)="importBtn.click()" ngbButtonLabel>Create</label>
                    <label style="margin-left: 0.5em" class="btn-primary" (click)="onPopUp(modalUpdate, false, id)" ngbButtonLabel>Update</label>
                    <input #importBtn type="file" class="file-input" (change)="onFileChangedUpload($event, id); importBtn.value = ''" style="position: absolute; display: none"/>
                  </td>
                </tr>
                </tbody>
              </table>
            </ng-template>
          </li>

          <li [ngbNavItem]= "1">
            <a ngbNavLink>Export</a>
            <ng-template ngbNavContent>
              <table class="table table-striped">
                <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Template Name</th>
                  <th scope="col">Table</th>
                  <th scope="col"></th>
                </tr>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">
                    <input style = "width: 150px" [(ngModel)] = "listSearch.name" class="form-control" type="text" placeholder="Search" aria-label="Search" (keyup)="performFilter()">
                  </th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor = "let data of listFilteredExportTemplate, let id = index">
                  <td>
                    {{id + 1}}
                  </td>
                  <td>
                    {{data.name}}
                  </td>
                  <td>
                    <div *ngFor="let table of listTable">
                      <div *ngIf="table._id === data.table_id">
                        {{table.name}}
                      </div>
                    </div>
                  </td>
                  <td>
                    <label class="btn-success" (click)="onExportData(id, false)" ngbButtonLabel>Export</label>
                    <label *ngIf = "data.use_template" style="margin-left: 0.5em" class="btn-primary" (click)="onExportData(id, true)" ngbButtonLabel>Export With Template</label>
                  </td>
                </tr>
                </tbody>
              </table>
            </ng-template>
          </li>

          <li [ngbNavItem]= "2">
            <a ngbNavLink>Delete</a>
            <ng-template ngbNavContent>
              <label class="btn-secondary" (click)="onDownloadDeleteTemplate()" ngbButtonLabel>Download Template</label>
              <label style = "margin-left: 0.5em" class="btn-danger" (click)="deleteBtn.click()" ngbButtonLabel>Delete</label>
              <input #deleteBtn type="file" class="file-input" (change)="onFileChangedDelete($event); deleteBtn.value = ''" style="position: absolute; display: none"/>
            </ng-template>
          </li>
        </ul>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
    </ng-template>

  </ngb-panel>
</ngb-accordion>

<ng-template #modalUpdate let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title-add">Update</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <label style="width: 30%; float: left; font-weight: bold">
        File:
      </label>
      <label style="width: 50%; float: left">
        <label class="btn" (click)="updateBtn.click()" ngbButtonLabel><mat-icon>attach_file</mat-icon></label>
        <input #updateBtn type="file" class="file-input" (change)="onFileChangedUpdate($event); updateBtn.value = ''" style="position: absolute; display: none">
        <label *ngIf="selectedFile">
          {{selectedFile.name}}
        </label>
      </label>
      <br style="clear:both">
    </div>

    <div>
      <label style="width: 30%; float: left; font-weight: bold">
        Skip Blank:
      </label>
      <label style="width: 50%; float: left">
        <input type="checkbox" [(ngModel)]="skipBlank">
      </label>
      <br style="clear:both">
    </div>
  </div>
  <p>
    <ngb-alert style = "width: 95%; margin: auto" *ngIf="messageContent" type="danger" (close)="messageContent = ''">{{ messageContent }}</ngb-alert>
  </p>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onUpdateData(popUpId); updateBtn.value = ''">Confirm</button>
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Cancel</button>
  </div>
</ng-template>
