<ngb-accordion activeIds="static-1" (panelChange)="$event.preventDefault();">
  <ngb-panel id="static-1">

    <ng-template ngbPanelHeader let-opened="opened">
      <div class="d-flex align-items-center justify-content-between">
        <h5 class="m-0">Manage Templates</h5>
      </div>
    </ng-template>

    <ng-template ngbPanelContent>
      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs" (activeIdChange)="onChangeTemplate()">
        <li [ngbNavItem]= "0">
          <a ngbNavLink>Import</a>
          <ng-template ngbNavContent>
            <label class="btn-success" (click)="onPopUpAddTemplate(modalAddTemplate, true)" ngbButtonLabel>Add Template</label>
            <table class="table table-striped">
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Template Name</th>
                <th scope="col">Table</th>
                <th scope="col">Role</th>
              </tr>
              <tr>
                <th scope="col"></th>
                <th scope="col">
                  <input style = "min-width: 150px" [(ngModel)] = "listSearch.name" class="form-control" type="text" placeholder="Search" aria-label="Search" (keyup)="performFilter()">
                </th>
                <th scope="col">
                  <input style = "min-width: 150px" [(ngModel)] = "listSearch.table_name" class="form-control" type="text" placeholder="Search" aria-label="Search" (keyup)="performFilter()">
                </th>
                <th scope="col">
                  <input style = "min-width: 150px" [(ngModel)] = "listSearch.role_name" class="form-control" type="text" placeholder="Search" aria-label="Search" (keyup)="performFilter()">
                </th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor = "let template of getListTemplate(), let id = index">
                <td>
                  <label class="btn" (click)="onPopUpTemplate(modalEditTemplate, true, getCurrentId(id))" ngbButtonLabel><mat-icon style="font-size: 15px">edit</mat-icon></label>
                  <label style = "margin-left: 0.5em" class="btn" (click)="onPopUpDeleteTemplate(modalDeleteImportTemplate, false, getCurrentId(id))" ngbButtonLabel><mat-icon style="font-size: 15px">delete</mat-icon></label>
                </td>
                <td>{{template.name}}</td>
                <td>{{listTable[template.table_index].name}}</td>
                <td>{{listRole[template.role_index].name}}</td>
              </tr>
              </tbody>
            </table>

            <div class="d-flex justify-content-between p-2">
              <ngb-pagination [collectionSize]="listFilteredTemplate.length" [(page)]="page" [pageSize]="pageSize" [maxSize]="5" [rotate]="true" [boundaryLinks]="true">
              </ngb-pagination>

              <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
                <option [ngValue]="5">5 items per page</option>
                <option [ngValue]="10">10 items per page</option>
                <option [ngValue]="20">20 items per page</option>
                <option [ngValue]="50">50 items per page</option>
                <option [ngValue]="100">100 items per page</option>
              </select>
            </div>
          </ng-template>
        </li>

        <li [ngbNavItem]= "1">
          <a ngbNavLink>Export</a>
          <ng-template ngbNavContent>
            <label class="btn-success" (click)="onPopUpAddTemplate(modalAddTemplate, true)" ngbButtonLabel>Add Template</label>
            <table class="table table-striped">
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Template Name</th>
                <th scope="col">Table</th>
                <th scope="col">Role</th>
              </tr>
              <tr>
                <th scope="col"></th>
                <th scope="col">
                  <input style = "min-width: 150px" [(ngModel)] = "listSearch.name" class="form-control" type="text" placeholder="Search" aria-label="Search" (keyup)="performFilter()">
                </th>
                <th scope="col">
                  <input style = "min-width: 150px" [(ngModel)] = "listSearch.table_name" class="form-control" type="text" placeholder="Search" aria-label="Search" (keyup)="performFilter()">
                </th>
                <th scope="col">
                  <input style = "min-width: 150px" [(ngModel)] = "listSearch.role_name" class="form-control" type="text" placeholder="Search" aria-label="Search" (keyup)="performFilter()">
                </th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor = "let template of getListTemplate(), let id = index">
                <td>
                  <label class="btn" (click)="onPopUpTemplate(modalEditTemplate, true, getCurrentId(id))" ngbButtonLabel><mat-icon style="font-size: 15px">edit</mat-icon></label>
                  <label style = "margin-left: 0.5em" class="btn" (click)="onPopUpDeleteTemplate(modalDeleteExportTemplate, false, getCurrentId(id))" ngbButtonLabel><mat-icon style="font-size: 15px">delete</mat-icon></label>
                </td>
                <td>{{template.name}}</td>
                <td>
                  <div *ngFor = "let table of listTable">
                    <div *ngIf = "table._id === template.table_id">
                      {{table.name}}
                    </div>
                  </div>
                </td>
                <td>
                  <div *ngFor = "let role of listRole">
                    <div *ngIf = "role._id === template.role_id">
                      {{role.name}}
                    </div>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>

            <div class="d-flex justify-content-between p-2">
              <ngb-pagination [collectionSize]="listFilteredTemplate.length" [(page)]="page" [pageSize]="pageSize" [maxSize]="5" [rotate]="true" [boundaryLinks]="true">
              </ngb-pagination>

              <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
                <option [ngValue]="5">5 items per page</option>
                <option [ngValue]="10">10 items per page</option>
                <option [ngValue]="20">20 items per page</option>
                <option [ngValue]="50">50 items per page</option>
                <option [ngValue]="100">100 items per page</option>
              </select>
            </div>
          </ng-template>
        </li>
      </ul>

      <div [ngbNavOutlet]="nav" class="mt-2"></div>

    </ng-template>
  </ngb-panel>
</ngb-accordion>

<ng-template #modalAddTemplate let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title-add">Add New Template</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div>
      <div>
        <label style = "width: 150px; float: left; font-weight: bold">
          Template Name:
        </label>
        <input style = "margin-left: 0.5em" type = "text" [(ngModel)]="popUpTemplate.name">
      </div>
      <br style="clear:both">

      <div>
        <label style = "width: 150px; float: left; font-weight: bold">
          Table:
        </label>
        <label style = "width: 50%; float: left; margin-left: 0.5em">
          <ng-select [items]="listTable"
                     bindLabel="name"
                     appendTo="body"
                     bindValue="_id"
                     [(ngModel)]="popUpTemplate.table_id"
                     (change)="onChangeTableRole()">
          </ng-select>
        </label>
      </div>
      <br style="clear:both">

      <div>
        <label style = "width: 150px; float: left; font-weight: bold">
          Role:
        </label>
        <label style = "width: 50%; float: left; margin-left: 0.5em">
          <ng-select [items]="listRole"
                     bindLabel="name"
                     appendTo="body"
                     bindValue="_id"
                     [(ngModel)]="popUpTemplate.role_id"
                     (change)="onChangeTableRole()">
          </ng-select>
        </label>
      </div>
      <br style="clear:both">

      <div *ngIf="active === 1">
        <div>
          <label style = "width: 150px; float: left; font-weight: bold">
            Use Template:
          </label>
          <label style = "margin-left: 0.5em">
            <input type = "checkbox" [(ngModel)]="popUpTemplate.use_template">
          </label>
        </div>
        <br style="clear:both">

        <div *ngIf = "popUpTemplate.use_template">
          <label style = "width: 150px; float: left; font-weight: bold">
            File Template:
          </label>
          <label style = "margin-left: 0.5em">
            <label class="btn" (click)="importBtnField.click();" ngbButtonLabel><mat-icon>attach_file</mat-icon></label>
            <label *ngIf="popUpTemplate.file_template_name">
              {{popUpTemplate.file_template_name}}
            </label>
            <input #importBtnField type="file" class="file-input" (change)="onFileChanged($event)" style="display: none">
          </label>
        </div>
        <br style="clear:both">
      </div>
    </div>

    <div class = "row border-top" *ngIf = "popUpTemplate.table_id && popUpTemplate.role_id">
      <div class="column-left">
        <div style = "text-align: center">
          <label style = "font-weight: bold">
            List Fields
          </label>
        </div>

        <label class="btn-success" (click)="onAddFields()" ngbButtonLabel>Add Fields</label>
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">
              <input type = "checkbox" [(ngModel)]="checkAll" (change) = "onCheckAll()">
            </th>
            <th scope="col">Field Name</th>
            <th scope="col">Field Type</th>
            <th scope="col"></th>
          </tr>
          <tr>
            <th scope="col"></th>
            <th scope="col">
              <input [(ngModel)] = "listSearchSelect.name" class="form-control" type="text" placeholder="Search" aria-label="Search" (keyup)="performFilterFieldSelect()">
            </th>
            <th scope="col">
              <input [(ngModel)] = "listSearchSelect.type" class="form-control" type="text" placeholder="Search" aria-label="Search" (keyup)="performFilterFieldSelect()">
            </th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor = "let data of listFilteredFieldSelect, let id = index">
            <td>
              <input type = "checkbox" [(ngModel)]="data.checked">
            </td>
            <td>
              {{data[1].field_name}}
            </td>
            <td>
              {{data[1].type}}
            </td>
            <td>
              <label *ngIf="data[1].type === 'Dropdown'" class="btn" (click)="onPopUpDropdownTable(modalDropdownTable, false, id, true)" ngbButtonLabel><mat-icon style = "font-size: 15px">filter_none</mat-icon></label>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class = "column-right border-left">
        <div style = "text-align: center;">
          <label style = "font-weight: bold">
            Template Fields
          </label>
        </div>

        <label class="btn-primary" (click)="onAddTemplate()" ngbButtonLabel>Save</label>
        <table class="table table-striped" cdkDropList (cdkDropListDropped)="drop($event)">
          <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Field Name</th>
            <th scope="col">Field Type</th>
            <th scope="col"></th>
          </tr>
          <tr>
            <th scope="col"></th>
            <th scope="col">
              <input [(ngModel)] = "listSearchTemplate.name" class="form-control" type="text" placeholder="Search" aria-label="Search" (keyup)="performFilterFieldTemplate()">
            </th>
            <th scope="col">
              <input [(ngModel)] = "listSearchTemplate.type" class="form-control" type="text" placeholder="Search" aria-label="Search" (keyup)="performFilterFieldTemplate()">
            </th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor = "let data of listFilteredFieldTemplate, let id = index">
            <td cdkDrag>
              <select [value]="id + 1" (change)="onSelectSortId(id, $event)">
                <option *ngFor="let value of listFilteredFieldTemplate; let number = index" [value] = "number + 1">
                  {{number + 1}}
                </option>
              </select>
            </td>
            <td>
              {{data[1].field_name}}
            </td>
            <td>
              {{data[1].type}}
            </td>
            <td>
              <label *ngIf="data[1].type === 'Dropdown'" class="btn" (click)="onPopUpDropdownTable(modalDropdownTable, true, id, false)" ngbButtonLabel><mat-icon style = "font-size: 15px">filter_none</mat-icon></label>
              <label class="btn" (click)="onDeleteField(id)" ngbButtonLabel><mat-icon style = "font-size: 15px">delete</mat-icon></label>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  <p>
    <ngb-alert style = "width: 95%; margin: auto" *ngIf="messageContent" type="danger" (close)="messageContent = ''">{{ messageContent }}</ngb-alert>
  </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Cancel</button>
  </div>
</ng-template>

<ng-template #modalEditTemplate let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Edit Template</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div>
      <div>
        <label style = "width: 150px; float: left; font-weight: bold">
          Template Name:
        </label>
        <input style = "margin-left: 0.5em" type = "text" [(ngModel)]="popUpTemplate.name">
      </div>
      <br style="clear:both">

      <div>
        <label style = "width: 150px; float: left; font-weight: bold">
          Table:
        </label>
        <label style = "margin-left: 0.5em">
          {{listTable[popUpTemplate.table_index].name}}
        </label>
      </div>
      <br style="clear:both">

      <div>
        <label style = "width: 150px; float: left; font-weight: bold">
          Role:
        </label>
        <label style = "margin-left: 0.5em">
          {{listRole[popUpTemplate.role_index].name}}
        </label>
      </div>
      <br style="clear:both">

      <div *ngIf="active === 1">
        <div>
          <label style = "width: 150px; float: left; font-weight: bold">
            Can Use Template:
          </label>
          <label style = "margin-left: 0.5em">
            <input type = "checkbox" [(ngModel)]="popUpTemplate.use_template">
          </label>
        </div>
        <br style="clear:both">

        <div *ngIf = "popUpTemplate.use_template">
          <label style = "width: 150px; float: left; font-weight: bold">
            File Template:
          </label>
          <label style = "margin-left: 0.5em">
            <label class="btn" (click)="importBtnField.click();" ngbButtonLabel><mat-icon>attach_file</mat-icon></label>

            <label *ngIf="popUpTemplate.file_template_id" class="btn" (click)="onDownloadData(popUpTemplate.file_template_id)">
              {{popUpTemplate.file_template_name}}
            </label>
            <label *ngIf="!popUpTemplate.file_template_id">
              {{popUpTemplate.file_template_name}}
            </label>
            <input #importBtnField type="file" class="file-input" (change)="onFileChanged($event)" style="display: none">
          </label>
        </div>
        <br style="clear:both">
      </div>
    </div>

    <div class = "row border-top">
      <div class="column-left">
        <div style = "text-align: center">
          <label style = "font-weight: bold">
            List Fields
          </label>
        </div>

        <label class="btn-success" (click)="onAddFields()" ngbButtonLabel>Add Fields</label>
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">
              <input type = "checkbox" [(ngModel)]="checkAll" (change) = "onCheckAll()">
            </th>
            <th scope="col">Field Name</th>
            <th scope="col">Field Type</th>
            <th scope="col"></th>
          </tr>
          <tr>
            <th scope="col"></th>
            <th scope="col">
              <input [(ngModel)] = "listSearchSelect.name" class="form-control" type="text" placeholder="Search" aria-label="Search" (keyup)="performFilterFieldSelect()">
            </th>
            <th scope="col">
              <input [(ngModel)] = "listSearchSelect.type" class="form-control" type="text" placeholder="Search" aria-label="Search" (keyup)="performFilterFieldSelect()">
            </th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor = "let data of listFilteredFieldSelect, let id = index">
            <td>
              <input type = "checkbox" [(ngModel)]="data.checked">
            </td>
            <td>
              {{data[1].field_name}}
            </td>
            <td>
              {{data[1].type}}
            </td>
            <td>
              <label *ngIf="data[1].type === 'Dropdown'" class="btn" (click)="onPopUpDropdownTable(modalDropdownTable, false, id, true)" ngbButtonLabel><mat-icon style = "font-size: 15px">filter_none</mat-icon></label>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class = "column-right border-left">
        <div style = "text-align: center;">
          <label style = "font-weight: bold">
            Template Fields
          </label>
        </div>

        <label class="btn-primary" (click)="onSaveTemplate()" ngbButtonLabel>Save</label>
        <table class="table table-striped" cdkDropList (cdkDropListDropped)="drop($event)">
          <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Field Name</th>
            <th scope="col">Field Type</th>
            <th scope="col"></th>
          </tr>
          <tr>
            <th scope="col"></th>
            <th scope="col">
              <input [(ngModel)] = "listSearchTemplate.name" class="form-control" type="text" placeholder="Search" aria-label="Search" (keyup)="performFilterFieldTemplate()">
            </th>
            <th scope="col">
              <input [(ngModel)] = "listSearchTemplate.type" class="form-control" type="text" placeholder="Search" aria-label="Search" (keyup)="performFilterFieldTemplate()">
            </th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor = "let data of listFilteredFieldTemplate, let id = index">
            <td cdkDrag>
              <select [value]="id + 1" (change)="onSelectSortId(id, $event)">
                <option *ngFor="let value of listFilteredFieldTemplate; let number = index" [value] = "number + 1">
                  {{number + 1}}
                </option>
              </select>
            </td>
            <td>
              {{data[1].field_name}}
            </td>
            <td>
              {{data[1].type}}
            </td>
            <td>
              <label *ngIf="data[1].type === 'Dropdown'" class="btn" (click)="onPopUpDropdownTable(modalDropdownTable, true, id, false)" ngbButtonLabel><mat-icon style = "font-size: 15px">filter_none</mat-icon></label>
              <label class="btn" (click)="onDeleteField(id)" ngbButtonLabel><mat-icon style = "font-size: 15px">delete</mat-icon></label>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <p>
    <ngb-alert style = "width: 95%; margin: auto" *ngIf="messageContent" type="danger" (close)="messageContent = ''">{{ messageContent }}</ngb-alert>
  </p>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Close</button>
  </div>
</ng-template>

<ng-template #modalDeleteImportTemplate let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Template deletion</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Are you sure you want to delete form <span class="text-primary">"{{popUpTemplate.name}}"</span> ?</strong></p>
    <p>All information associated to this form will be permanently deleted.
      <span class="text-danger">This operation can not be undone.</span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="onDeleteImportTemplate()">Confirm</button>
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Cancel</button>
  </div>
</ng-template>

<ng-template #modalDeleteExportTemplate let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Template deletion</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Are you sure you want to delete form <span class="text-primary">"{{popUpTemplate.name}}"</span> ?</strong></p>
    <p>All information associated to this form will be permanently deleted.
      <span class="text-danger">This operation can not be undone.</span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="onDeleteExportTemplate()">Confirm</button>
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Cancel</button>
  </div>
</ng-template>

<ng-template #modalDropdownTable let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{dropdownTitle}} Content</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngFor="let data of listDropdownValue; let idSelect = index; trackBy: trackBy">
      <label>
        {{listDropdownValue[idSelect]}}
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Cancel</button>
  </div>
</ng-template>

