<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="signin-box">
        <form (ngSubmit)="onRegister()" [formGroup]="registerForm">
            <div class="container">
                <h1>Sign Up</h1>
                <p>Please fill in this form to create an account.</p>
                <input type="text" placeholder="Your Signnum" formControlName="info_signnum" required>
                <input type="text" placeholder="Enter Email" formControlName="info_email" required>
                <input type="password" placeholder="Enter Password" formControlName="info_pwd" required>
                <input type="password" placeholder="Repeat Password" formControlName="info_pwd_repeat" required>
                <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
                <div class="clearfix">
                    <button type="submit" class="btn btn-primary btn-lg" [disabled]="!registerForm.valid">Sign Up</button>
                    <button (click)="onBackLogin()" type="button" class="btn btn-danger btn-lg">Back Login</button>
                </div>
            </div>
        </form>
    </div>
</body>  