.text-hidden {
  display: block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.top {
  width: 100%;
  height: 45%;
  top: 0;
  overflow-y: auto;
}

.bottom {
  width: 100%;
  height: 45%;
  bottom: 0;
  overflow-y: auto;
}
